h1{
    color:pink;
	font-family:GungsuhChe;
	font-weight:bold;
	font-style:italic;
	font-size:100px;
    text-align:center;
	margin-top:50px;
}

table,tr,td {
	margin:0px auto;
	font-family:GungsuhChe;
}

#submit{
	width:200px;
	height:40px;
	margin-top:30px;
	margin-left:560px;
	font-family:Lucida Console;
}

#back{
	font-weight:bold;
	font-size:large;
	color:red;
	height:40px;
	width:200px;
	margin-left:1100px;
	margin-top:20px;
	font-family:Lucida Console;
}

body {
	background-image:url("background1.jpg");
 	background-repeat:no-repeat;
	background-position:0px 0px;
	background-size:cover;
}