h1{
    color:pink;
	font-family:GungsuhChe;
	font-weight:bold;
	font-style:italic;
	font-size:100px;
    text-align:center;
	margin-top:50px;
}

body {
	background-image:url("background1.jpg");
 	background-repeat:no-repeat;
	background-position:0px 0px;
	background-size:cover;
}